<div class="div-fullscreen2">
    <div class="container centrar">
        <div style="margin: auto;">
            <div class="card-login">
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <img [src]="logoPath" style="width: 80%; height: auto;" alt="PAiCore Tech">
                        </div>
                    </div>
                    <div class="row mt-5" style="text-align: center;">
                        <div class="col">
                            <h5 style="font-weight: 700; font-size: 32px;">Welcome to SMSC Management</h5>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <app-password-form (submitForm)="onPasswordChange($event)"></app-password-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
