<div class="content-wrapper ps-2 pe-2">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center mt-3">
                <img src="/assets/img/base-station-icon-1.png" alt="icon" height="40px" width="auto">
  
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item mt-4 not-bredcrumb">
                            <a [routerLink]="'../../../'" class="card-header title-content mb-0 ml-2"
                                    style="font-size: 20px; font-weight: 500; color: #1d609d;">
                                Gateways SS7
                            </a>
                        </li>
                        <li class="breadcrumb-item mt-4">
                            <a [routerLink]="'../'" class="card-header title-content mb-0 ml-2"
                                    style="font-size: 20px; font-weight: 500; color: #1d609d; margin-left: 0px;">
                                {{ gatewaySs7 ? gatewaySs7.name : '' }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" style="margin-top: 22px; color: #7B3031; font-size: 18px;" aria-current="page">
                            <label class="mt-1">TCAP + MAP</label>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="pb-4 mt-2 bg-white">
            <!-- tabs -->
            <ul class="nav nav-tabs mt-4" (click)="changeTab($event)" id="options">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'tcap'" aria-current="page">TCAP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeTab === 'map'">MAP</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent"
              style="padding: 0px;">
                <div class="tab-pane fade" [class.show]="activeTab === 'tcap'" [class.active]="activeTab === 'tcap'" id="tcap">
                    <app-add-tcap [networkId]="networkId" />
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'map'" [class.active]="activeTab === 'map'" id="map">
                    <app-add-map [networkId]="networkId" *ngIf="activeTab === 'map'" />
                </div>
            </div>
        </div>
    </div>
  </div>