<div class="content-wrapper ps-2 pe-2">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center mt-3">
                <img src="/assets/img/base-station-icon-1.png" alt="icon" height="40px" width="auto">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item mt-4 not-bredcrumb">
                            <a [routerLink]="'../../../'" class="card-header title-content mb-0 ml-2"
                                    style="font-size: 20px; font-weight: 500; color: #1d609d;">
                                Gateways SS7
                            </a>
                        </li>
                        <li class="breadcrumb-item mt-4">
                            <a [routerLink]="'../'" class="card-header title-content mb-0 ml-2"
                                    style="font-size: 20px; font-weight: 500; color: #1d609d; margin-left: 0px;">
                                {{ gatewaySs7 ? gatewaySs7.name : '' }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" style="margin-top: 22px; color: #7B3031; font-size: 18px;" aria-current="page">
                            <label class="mt-1">SCCP</label>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="ps-3 pe-3 pb-4 mt-2 bg-white pt-10">
            <!-- tabs -->
            <ul class="nav nav-tabs mt-4 pt-4" id="options">
                <li class="nav-item">
                    <a class="nav-link" (click)="changeTab('general')" [class.active]="activeTab === 'general'" aria-current="page">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeTab('resources')" [class.active]="activeTab === 'resources'">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeTab('service')" [class.active]="activeTab === 'service'">Service Access Points</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeTab('addresses')" [class.active]="activeTab === 'addresses'">Addresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeTab('rules')" [class.active]="activeTab === 'rules'">Rules</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" [class.show]="activeTab === 'general'" [class.active]="activeTab === 'general'" id="general">
                    <app-general-sccp [dataNetworkId]="networkId" (setSccpId)="setSccpId($event)" *ngIf="activeTab === 'general'" />
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'resources'" [class.active]="activeTab === 'resources'" id="resources">
                   <app-resources-sccp [dataSccpId]="sccpId" [dataNetworkId]="networkId" [dataGateway]="gatewaySs7" *ngIf="activeTab === 'resources'" />
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'service'" [class.active]="activeTab === 'service'" id="service">
                    <app-service-access-points [dataSccpId]="sccpId" [dataNetworkId]="networkId" [dataGateway]="gatewaySs7" *ngIf="activeTab === 'service'" />
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'addresses'" [class.active]="activeTab === 'addresses'" id="addresses">
                    <app-sccp-address [dataSccpId]="sccpId" [dataNetworkId]="networkId" [dataGateway]="gatewaySs7" *ngIf="activeTab === 'addresses'" />
                </div>
                <div class="tab-pane fade" [class.show]="activeTab === 'rules'" [class.active]="activeTab === 'rules'" id="rules">
                    <app-sccp-rules [dataSccpId]="sccpId" [dataNetworkId]="networkId" [dataGateway]="gatewaySs7" *ngIf="activeTab === 'rules'" />
                </div>
            </div>
        </div>
    </div>
</div>
