<h5 class="fw-bold border-bottom pb-1 mb-3">Realms</h5>
<div class="d-flex align-items-center justify-content-between">
    <div class="ms-auto">
        <button type="button" class="btn btn-red" (click)="showModal()" [disabled]="isDisabled"
            style="margin-right: 10px;">
            <i class='bx bx-plus'></i>
            Create
        </button>
    </div>
</div>

<div class="table-responsive mt-4">
    <table id="tableExample" class="table" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URI</th>
                <th>Peer</th>
                <th>Local Action</th>
                <th class="align-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of realmsList; let i = index">
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="align-middle">{{ item?.name }}</td>
                <td class="align-middle">{{ item?.uri }}</td>
                <td class="align-middle">{{ item?.peers }}</td>
                <td class="align-middle">{{ item?.local_action }}</td>
                <td class="align-center">
                    <button class="btn btn-sm btn-red me-2" title="Edit record" [disabled]="isDisabled"
                        (click)="editRealm(item)"><i class='bx bxs-pencil'></i></button>
                    <button class="btn btn-sm btn-secondary me-2" title="Delete record" [disabled]="isDisabled"
                        (click)="deleteRealm(item)"><i class='bx bxs-trash-alt'></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MODALS -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalRealm" data-bs-backdrop="static"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add-realms (closeModal)="onCloseModal($event)" [dataUpdate]="selectedRealm"></app-add-realms>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalDeleteRealm" data-bs-backdrop="static"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-modal-delete [mensaje]="messageShow" (confirmAction)="onCloseModalDelete($event)"></app-modal-delete>
    </div>
</div>