
<div class="content-wrapper ps-2 pe-2">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center  mt-3">
                <img src="/assets/img/globe-network-icon-2.png" alt="icon" height="40px" width="auto">
                <label class="card-header title-content mb-0 ml-2"
                    style="font-size: 20px; font-weight: 500; padding-bottom: 10px;">
                    MNOs
                </label>
            </div>
            <div>
                <button type="button" class="btn btn-red mt-3" (click)="showModal(true); module=undefined" style="margin-right: 10px;">
                    <i class='bx bx-plus'></i>
                    Create
                </button>
                <button type="button" class="btn btn-red mt-3" (click)="refresh()">
                    <i class='bx bx-refresh'></i>
                </button>
            </div>
        </div>
        <div class="card ps-3 pe-3 pb-4 mt-2 bg-white">
            <div class="table-responsive mt-4">
                <table id="tableExample" class="table" style="width:100%" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>TLV Message Recipe Id</th>
                            <th>Message Id Decimal FormatS</th>
                            <th>Created at</th>
                            <th class="align-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let i = index">
                            <td class="align-middle">{{ item.id }}</td>
                            <td class="align-middle">{{ item?.name }}</td>
                            <td class="align-middle">{{ item?.tlv_message_receipt_id == false ? "FALSE" : "TRUE" }}</td>
                            <td class="align-middle">{{ item?.message_id_decimal_format == false ? "FALSE" : "TRUE" }}</td>
                            <td class="align-middle">{{ item?.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td class="align-center">
                                <button class="btn btn-sm btn-red me-2" title="Edit record" (click)="editData(item)"><i
                                        class='bx bxs-pencil'></i></button>
                                <button class="btn btn-sm btn-secondary me-2" title="Delete record" (click)="deleteMno(item)"><i
                                        class='bx bxs-trash-alt'></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalMno" data-bs-backdrop="static"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add (closeModal)="onCloseModal($event)" [dataUpdate]="module"></app-add>
    </div>
</div> 

<div class="modal fade" tabindex="-1" role="dialog" id="modalDeleteMno" data-bs-backdrop="static"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <app-modal-delete [mensaje]="messageShow" (confirmAction)="onCloseModalDelete($event)"></app-modal-delete>
  </div>
</div>