<div class="div-fullscreen">
    <div class="container" class="centrar">
        <div class="row">
            <div class="col text-center">
                <img [src]="brandingPaic" alt="home" width="110px" height="auto">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex flex-column align-items-center justify-content-center">
                <label>Welcome to</label>
                <h2>PAiCore Tech SMSC</h2>
            </div>
        </div>
    </div>
</div>
