<div class="d-flex" style="max-width: 100vw; overflow-x: hidden;">

    <div class="content-wrapper ps-2 pe-2 flex-grow-1" [ngClass]="{ 'with-sidebar': showFilterPanel }">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center  mt-3">
                    <img src="/assets/img/view.png" alt="icon" height="40px" width="auto">
                    <label class="card-header title-content mb-0 ml-2" style="font-size: 20px; font-weight: 500; padding-bottom: 10px;">
                        Analyze Dashboards
                    </label>
                </div>
            </div>

            <!-- Filters Section -->
            <div class="d-flex justify-content-between align-items-start mt-4">
                <div class="form-group mb-0 w-100 me-3">
                </div>
    
                <div class="d-flex flex-column">
                    <div class="d-flex mb-2">
                        <button class="btn btn-red" (click)="toggleFilter()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="22" height="22" fill="none">
                                <path d="M12 16H52L36 34V52L28 57V34L12 16Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Metrics Section -->
            <div class="col-10 mx-auto">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h6 class="card-title">Total SMS Traffic</h6>
                                <div class="row">
                                    <div class="col-10 col-sm-9">
                                        <h1 class="text-left m-0">
                                            {{ dashboardData.total >= 1000000 ? 
                                                formatNumber(dashboardData.total) : 
                                                (dashboardData.total | number )  
                                            }}
                                        </h1>
                                        <p class="text-secondary m-0" [ngClass]="dashboardData.total >= 1000000 ? '' : 'invisible'">
                                            {{ dashboardData.total >= 1000000 ? (dashboardData.total | number) : '0' }}
                                        </p>
                                    </div>
                                    <div class="col-2 col-sm-3 d-flex justify-content-end mt-2">
                                        <span class="badge bg-secondary rounded-circle d-inline-block" style="width: 28px; height: 28px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <div class="card-body">
                                <h6 class="card-title">SMS Delivery Rate</h6>
                                <div class="row">
                                    <div class="col-10 col-sm-9">
                                        <h1 class="text-success m-0">
                                            {{ dashboardData.sms_delivery_rate ? (dashboardData.sms_delivery_rate / 100 | percent) : '0%' }}
                                        </h1>
                                        <p class="text-left m-0" [ngClass]="dashboardData.sms_delivery >= 1 ? '' : 'invisible'">
                                            {{ dashboardData.sms_delivery | number }}
                                        </p>
                                    </div>
                                    <div class="col-2 col-sm-3 d-flex justify-content-end mt-2">
                                        <span class="badge bg-success rounded-circle d-inline-block" style="width: 28px; height: 28px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Failed SMS</h6>
                                <div class="row">
                                    <div class="col-10 col-sm-9">
                                        <h1 class="m-0" style="color: #7B3031;">
                                            {{ dashboardData.sms_failed_rate ? (dashboardData.sms_failed_rate / 100 | percent) : '0%' }}
                                        </h1>
                                        <p class="text-left m-0" [ngClass]="dashboardData.sms_failed >= 1 ? '' : 'invisible'">
                                            {{ dashboardData.sms_failed | number }}
                                        </p>
                                    </div>
                                    <div class="col-2 col-sm-3 d-flex justify-content-end mt-2">
                                        <span class="badge rounded-circle d-inline-block" style="width: 28px; height: 28px; background: #7B3031;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>  
        <!-- Charts Section -->
        <div class="container-fluid">
            <div class="col-12 m-auto mt-4">
    
                <div class="card w-100 overflow-auto" style="max-height: 520px; padding: 20px;">
                    <div [ngStyle]="{ width: chartWidth, minWidth: '1100px' , height: chartHeight + 'px' }">
                        <canvas
                            baseChart
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            type="line"
                            class="chart"
                            style="height: 450px;"
                        ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <app-filters
        *ngIf="showFilterPanel"
        class="filter-sidebar"
        [hideAdvancedFilters]="true"
        [originNetworkList]="networksList"
        [destinationNetworkList]="networksList"
        [catalogBroadcastList]="catalogBroadcastList"
        (close)="toggleFilter()"
        [initialFilters]="filters"
        (apply)="applyFilters($event)">
    </app-filters>
</div>