
<h5 class="text-center">{{ title }}</h5>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-4">
  <div class="form-group row align-items-center mb-3">
    <label class="col-5">Password</label>
    <div class="col-7 position-relative">
      <input [type]="passwordFieldType" formControlName="password" class="form-control">
      <i class="bx bx-show position-absolute" style="top: 10px; right: 20px; cursor: pointer;" (click)="toggleVisibility('password')"></i>
      <span class="text-danger mt-2" *ngIf="validInput('password')">
        the field is required
      </span>   
      <span class="text-danger mt-2" *ngIf="validMinLength('password')">
        Minimum length is {{ getMinLength('password') }}
      </span>    
    </div>
  </div>

  <div class="form-group row align-items-center mb-3">
    <label class="col-5">Confirm Password</label>
    <div class="col-7 position-relative">
      <input [type]="confirmFieldType" formControlName="confirmPassword" class="form-control">
      <i class="bx bx-show position-absolute" style="top: 10px; right: 20px; cursor: pointer;" (click)="toggleVisibility('confirmPassword')"></i>
      <span class="text-danger mt-2" *ngIf="validInput('confirmPassword')">
        the field is required
      </span>   
      <span class="text-danger mt-2" *ngIf="validMinLength('confirmPassword')">
        Minimum length is {{ getMinLength('password') }}
      </span>  
      <span class="text-danger mt-2" *ngIf="form.errors?.['passwordMismatch']">
        Passwords do not match.
      </span>
    </div>
  </div>


  <div class="row mt-4">
    <div class="justify-content-center d-flex">
      <button *ngIf="showCancel" type="button" class="btn btn-secondary me-2" (click)="cancel.emit()">Cancel</button>
      <button type="submit" class="btn btn-red w-100" [ngClass]="{'w-auto': showCancel}">Change Password</button>
    </div>
  </div>
  
</form>
